body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../img/bckgrnd.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #3d9aa7; */
}
.box{
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%; 
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 12%
}
.box-container{
    padding: 20px 5%;
    background: rgba(0, 0, 0,.8);
    box-shadow: 0 15px 15px rgba(0, 0, 0,.5);
    border-radius: 15px 15px 15px 15px;
    width: 90%;
    float: right;
}
.box-container h2{
    margin-bottom: 20px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width: 100%;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    border: none;
    outline: none;
    border-bottom: 1px solid olive;
    background: transparent;

}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.box .inputbox input:focus + label,
.box .inputbox input:valid + label{
    top: -18px;
    left: 0;
    color: #00bcd4;
    font-size: 12px;
}
.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    background-color: #00bcd4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; 
}
.topnav {
    padding: 30px 0;
    background: rgba(0, 0, 0,.5);
	width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
}
.topnav .links{
   margin-left: 16px;
}
.topnav a{
    padding: 10px 10px;
    text-decoration: none;
    display: inline;
    background-color: #00bcd4;
    border-radius: 5px;
}
.topnav a:hover{
    background: #3d9aa7;
}
.btn-logout{
    float: right;
    margin-right: 16px;
}
.heada{
    margin: 100px 10% 20px 10%;
    width: 80%;
    padding: 20px 40px ;
    background: rgba(0, 0, 0,.7);
    /* box-shadow: 0 15px 15px rgba(0, 0, 0,.5); */
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    color: #fff;
}
.heada h2{
    font-size: 40px;
    color: #00bcd4;
}.heada h3{
    margin-top: -30px;
    font-size: 25px;
    color: #00bcd4;
}
.footer {
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    background: #00bcd4;
	width: 100%;
    color: #fff;
}
.footer a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 1100px) {
    .box{
        margin-top: 20%;
    }
    .quest .foo{
        width: 40%;
        float: left;
        text-align: center;
        padding-top: 10px;
        margin: 3% 5%;
    }
}
@media screen and (max-width: 900px) {
    .box{
        margin-top: 25%;
    }
}

@media screen and (max-width: 700px) {
    .box{
        margin-top: 30%;
    }
    
    .btn-logout{
        float: none;
        margin-right: 0px;
    }
    .topnav a{
        display: block;
        border-radius: 3px;
        text-align: center;
        margin-right: 16px;
    }
}

@media screen and (max-width: 600px) {
    .box{
        margin-top: 42%;
    }
    
    .quest .foo{
        width: 60%;
        float: left;
        text-align: center;
        padding-top: 10px;
        margin: 3% 15%;
    }
}